<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style>
		body { 
			padding-top: 100px; 
		}
		</style>
		<script src="js/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/checklist-model.js"></script>
	</head>
	<body ng-app="fastFleet">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="../" class="navbar-brand">Fast Fleet - A uber style fast food delivery system</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
			</div>
		</div>
		<form id="order" name="order" ng-controller="placeOrder" ng-class="hasError" class="container" novalidate ng-submit="submitForm(order.$valid)">
			<div class="row">
				<div class="col col-md-9">
					<h3>Menu</h3>
					<div ng-repeat="item in menuItems">
						<label>
							<input type="checkbox" checklist-model="order.data.items" checklist-value="item" /> {{item.name}} - {{item.price}}
						</label>
					</div>
				</div>
				<div class="col col-md-3" ng-hide="totalOrder() == 0">
					<h3>Your Order</h3>
					<div ng-repeat="item in order.data.items" class="row">
						<div class="col col-md-8">{{item.name}}</div>
						<div class="col col-md-4 text-right">{{item.price}}</div>
					</div>
					<div class="text-right">Total: {{totalOrder()}}</div>
					<strong>Delivery Method</strong>
					<label class="radio">
						<input type="radio" ng-model="order.data.method" value="pickup" />Pickup
					</label>
					<label class="radio">
						<input type="radio" ng-model="order.data.method" value="delivery" />Delivery
					</label>
					<div ng-show="order.data.method == 'delivery'" class="ng-hide">
						<div class="row">
							<div class="col col-md-12">
								<label>First Name
									<input type="text" ng-model="order.data.address.firstName" required class="form-control" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col col-md-12">
								<label>Last Name
									<input type="text" ng-model="order.data.address.lastName" required class="form-control" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col col-md-12">
								<label>Address
									<input type="text" ng-model="order.data.address.address1" required class="form-control" /> 
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col col-md-12">
								<label>City / State / Zip</label>
								<label>
									<input type="text" ng-model="order.data.address.city" required class="form-control" />
								</label>
								<label>
									<input type="text" ng-model="order.data.address.state" required class="form-control" />
								</label>
								<label>
									<input type="text" ng-model="order.data.address.zip" required class="form-control" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col col-md-12">
								<label>
									Phone
									<input type="text" name="phone" ng-model="order.data.address.phone" ng-minlength="10" ng-maxlength="10" required class="form-control" />
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="text-right" ng-show="order.data.method.length > 0">
					<input type="submit" value="Finalize Order"  data-toggle="modal" data-target="#finishOrder"/>
				</div>
			</div>
		</form>
		<script src="fastFleet.js"></script>
	</body>
</html>